body{
    background-color: black;
}

img{
    width: 100px;
    height: 100px;
}

.Allimg{
    margin-right: auto;
    margin-left : auto;
    margin-top : 50px;
}

.zoomedImage{
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    width: 100%;
    height: 100%;
;
}

.imgZoom{
    width: initial;
    height: initial;
}

p{
    color: white;
}


#imageContainer1{width: 100px}
#imageContainer2{width: 200px}
#imageContainer3{width: 300px}
#imageContainer4{width: 400px}
#imageContainer5{width: 500px}
#imageContainer6{width: 600px}
#imageContainer7{width: 700px}
#imageContainer8{width: 800px}
#imageContainer9{width: 900px}